@import 'base';

.result-container {
	width: 90%;
	margin: 15px auto;

	h2,
	>p {
		text-align: center;
		padding: 15px;
	}
}

.result-group {
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	margin: 15px auto;
	filter: drop-shadow(0 15px 30px);
	color: $color4;
	font-size: 16px;

	p:nth-of-type(1) {
		font-size: 40px;
		margin-top: 10px;
	}

	p:nth-of-type(2) {
		margin-top: 10px;
		font-style: italic;
	}

	span {
		font-size: 16px;
		font-weight: 100;
	}
}
